*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
}
.navBar{
  display: flex;
  justify-content: start;
  gap:5vw;
  background-color: rgb(126, 126, 126);
  margin:0;
  padding: 2vw;
}
.navLink{
  text-decoration: none;
  color: white;
  font-weight: 700;
}