*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  overflow-x: hidden;
}
.navBar{
  display: flex;
  justify-content: start;
  gap:5vw;
  background-color: rgb(21, 101, 192);
  margin:0;
  padding: 2vw;
  width: 100vw;
}
.navLink{
  text-decoration: none;
  color: white;
  font-weight: 700;
}
